header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  color: #BCDFF3;
  background: #1D1D1D;
  margin: 0;
  font-family: fantasy;
}

header:after {
    background: linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 30px 30px;
    content: " ";
    display: block;
    width: 100%;
    height: 32px;
}

.content {
  padding: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#the-basics ul {
  list-style: none;
  padding: 25px 0 0 25px;
  color: #CCCCCC;

}

span {
  color: #20946D;
}

#the-story {
  width: 33%;
}

#the-story p {
  color: #CCCCCC;
  border-left: 1px solid #CCCCCC;
  padding: 25px 0 0 25px;
  height: 100px

}

img {
  height: 200px;
  border-radius: 100px;

}

h2, ul, p {
  font-family: fantasy;
}
